<p>Hii <%= @user.name %><p>        <br>
These are the candidates for the election:  <br>
<p>First candidate :<%= @first_candidate %>  </p>    <br>
<p>Second candidate :<%= @second_candidate %>  </p> <br>
<p> Voting time is open from <%= @election.start_date %> to <%= @election.end_date %></p>     <br>
<p> Thanks,</p>  <br>
<p>Admin</p>

