<!DOCTYPE html>
<html>
<head>
  <title>Polling</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% unless session[:current_user].nil? %>
      <div style="margin-left: 800px; font-size: 18px;">
        <%= current_user.name %>  <br>
    <%= link_to 'Logout',log_out_login_index_path,:method=>:get %>
        </div>
<% end %>
<%= yield %>

</body>

</html>
